<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Seja bem-vindo à Adoce Ana!</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Nossos produtos</a></li>
            <li><a href="/sobre">Sobre nós</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
    
    
    <footer>
        <p>&copy; @AdoceAna2023.</p>
    </footer>
</body>
</html>