<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form  method="POST">
            {% csrf_token %}
           

            <label for="username">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
            <a href="{%url 'usuarios:cadastro' %}"> cadastrar-se</a>
        </form>
    </div>
</body>
</html>